<div class="container">
  <h1 class="title">Users</h1>

  <hr />
  <div class="inner-container">
    <table class="users-table">
      <thead>
        <th class="first-th">ID</th>
        <th>NAME</th>
        <th>SURNAME</th>
        <th>EMAIL</th>
        <th>AGE</th>
        <th>CREATED DATE</th>
        <th>EDIT</th>
        <th class="last-th">DELETE</th>
      </thead>

      <tbody>
        <tr *ngFor="let user of users">
          <td class="first-td">{{ user.Id }}</td>
          <td class="name">{{ user.Name }}</td>
          <td class="surname">{{ user.Surname }}</td>
          <td>{{ user.Email }}</td>
          <td>{{ user.Age }}</td>
          <td>
            <span>{{ user.CreatedTime | date: "HH:mm:ss dd MMMM YYYY" }}</span>
          </td>

          <td>
            <app-edit-icon (editUser)="editUser(user)"></app-edit-icon>
          </td>
          <td class="last-td">
            <app-trash-icon (deleteUser)="deleteUser(user)"></app-trash-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr />
  <div class="btn-container">
    <app-button
      type="button"
      text=" Create User"
      (btnClick)="createNewUser()"
    ></app-button>
  </div>
</div>
