<div class="container">
  <div class="title-arrow title">
    <div class="go-back">
      <app-arrow-back-icon (btnClick)="goBack()"></app-arrow-back-icon>
    </div>

    <h1 class="create-user-title">{{ title }}</h1>
  </div>

  <hr />
  <div *ngIf="isInValid" class="error-div">Some fields are not valid!</div>

  <form [formGroup]="userForm" (ngSubmit)="saveUser()">
    <div class="inner-container">
      <!-- name field form group -->
      <app-form-group
        placeholder="name of the user"
        label="Name"
        name="name"
        type="text"
        [userForm]="userForm"
        formControlName="name"
      ></app-form-group>

      <!-- surname field form group -->
      <app-form-group
        label="Surname"
        placeholder="surname of the user"
        name="surname"
        type="text"
        [userForm]="userForm"
        formControlName="surname"
      ></app-form-group>

      <!-- email field form group -->
      <app-form-group
        label="Email"
        placeholder="email of the user"
        name="email"
        type="email"
        [userForm]="userForm"
        formControlName="email"
      ></app-form-group>

      <!-- number field form group -->
      <app-form-group
        label="Age"
        name="age"
        placeholder="age of the user"
        type="number"
        [userForm]="userForm"
        formControlName="age"
      ></app-form-group>
    </div>
    <hr />
    <div class="btn-container">
      <button type="submit" class="btn">Save User</button>
    </div>
  </form>
</div>
