<div class="container">
  <div class="title-arrow title">
    <div class="go-back">
      <app-icon (btnClick)="goBack()">
        <svg
          id="Group_3"
          data-name="Group 3"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path id="Path_6" data-name="Path 6" d="M0,0H24V24H0Z" fill="none" />
          <line
            id="Line_7"
            data-name="Line 7"
            x2="14"
            transform="translate(5 12)"
            fill="none"
            stroke="#3d3d3d"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
          />
          <line
            id="Line_8"
            data-name="Line 8"
            x2="6"
            y2="6"
            transform="translate(5 12)"
            fill="none"
            stroke="#3d3d3d"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
          />
          <line
            id="Line_9"
            data-name="Line 9"
            y1="6"
            x2="6"
            transform="translate(5 6)"
            fill="none"
            stroke="#3d3d3d"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
          />
        </svg>
      </app-icon>
    </div>

    <h1 class="create-user-title">{{ title }}</h1>
  </div>

  <hr />
  <div *ngIf="isInValid" class="error-div">Some fields are not valid!</div>

  <form [formGroup]="userForm" (ngSubmit)="saveUser()">
    <div class="inner-container">
      <!-- name field form group -->
      <app-form-group
        placeholder="name of the user"
        label="Name"
        name="name"
        type="text"
        [userForm]="userForm"
        formControlName="name"
      ></app-form-group>

      <!-- surname field form group -->
      <app-form-group
        label="Surname"
        placeholder="surname of the user"
        name="surname"
        type="text"
        [userForm]="userForm"
        formControlName="surname"
      ></app-form-group>

      <!-- email field form group -->
      <app-form-group
        label="Email"
        placeholder="email of the user"
        name="email"
        type="email"
        [userForm]="userForm"
        formControlName="email"
      ></app-form-group>

      <!-- number field form group -->
      <app-form-group
        label="Age"
        name="age"
        placeholder="age of the user"
        type="number"
        [userForm]="userForm"
        formControlName="age"
      ></app-form-group>
    </div>
    <hr />
    <div class="btn-container">
      <button type="submit" class="btn">Save User</button>
    </div>
  </form>
</div>
