.title-arrow {
  display: flex;
  align-items: center;
}

.create-user-title {
  margin-left: 24px;
}

.iconn {
  font-size: 2rem;
}

.go-back {
  margin-top: 5px;
}

.error-div {
  width: 100%;
  background-color: #f32013;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  margin-top: 2rem;
}
